<html>
    <head>
        <title>測試visual data</title>
    </head>
    
    <body>
        <div class='bike'>
        <div id='station_name'>{{sname}}</div>
        <div id='address'>{{addr}}</div>

        </div>
        <div class='chart' height=500px width=600px>
        <canvas id='linechart' height=400px width=500px></canvas>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script>
            var ctx = document.getElementById('linechart');
            var yaxis = [{%for items in dt:%}
                "{{items}}",
            {%endfor%}]; // y軸座標名稱
            var datas = [
            {%for items in values:%}
                {{items}}
            {%endfor%}
            ];
            var lineChart = new Chart(ctx,{
                type:'line',
                data:{
                    labels:yaxis,
                    datasets:[
                        {
                            label:'近三天站點使用率',
                            data : datas,
                            backgroundColor:'rgba(0,148,255,0.6)'
                        }
                    ]
                }
            })
        </script>
    </body>
</html>